

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: #0A1F44; /* Azul fuerte */
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Sombra elegante abajo */
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 800;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

.logo span {
  color: #D4AF37; /* Pinta "roma" de dorado */
}

/* MENÚ */
.nav {
  display: flex;
  gap: 30px; 
  align-items: center;
}

.menu-item {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.menu-item:hover {
  color: #D4AF37; /* Dorado elegante */
}

/* Animación de línea dorada al pasar el mouse */
.menu-item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #D4AF37;
  transition: width 0.3s ease;
}

.menu-item:hover::after {
  width: 100%;
}

/* DROPDOWN (Menú desplegable) */
.dropdown {
  position: relative;
  padding-bottom: 20px; /* Evita que el menú se cierre si el mouse pasa por el hueco */
  margin-bottom: -20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 45px;
  left: -15px;
  background: #0A1F44;
  min-width: 180px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(212, 175, 55, 0.2); /* Borde doradito muy suave */
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: aparecer 0.3s ease; /* Animación de entrada */
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-content a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown-content a:hover {
  background: #D4AF37;
  color: #0A1F44; /* Letra azul cuando el fondo es dorado */
  font-weight: bold;
  padding-left: 25px; /* Empuja el texto un poquito a la derecha al hacer hover */
}

/* ACCIONES DERECHA (Buscador y Carrito) */
.acciones {
  display: flex;
  align-items: center;
  gap: 20px;
}


.icono {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
}

.icono:hover {
  transform: scale(1.2); /* Los íconos crecen un poquito al pasar el mouse */
}